{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Eco cv, tus curriculum mas ecologicos 🌳</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
    </head>
    <body>
        <header>
            aqui abia ponido mi menu kawaii
        </header>        
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            aki abia ponido mi menu kawaii
        </footer>
    </body>
</html>