{% extends 'ecoApp/profile.html' %}
{% block profile_content %}
    <!-- Qr code generator -->
    {% load qr_code %} 
    <hr>
    <div class="container">
        <div class="row ">
            <div class="col"></div>
            <div class="col-6">
                <h3 class="h3">
                    Aqui tenemos tu código QR
                </h3>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <img id="qr" src="{% qr_url_from_text rut_concated size=20 version=2 image_format='png' %}" alt="Curriculum codigo qr" download>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <hr>
    <form action="" method="POST" id="signin-form">
        {% csrf_token %}    
        <div class="row form-group">
            <div class="col">
                <label for="username">Nombre de usuario</label>
                <input class="form-control" type="text" id="username" name="username" placeholder="Ingresar nombre de usuario"
                    data-toggle="tooltip" title="Ingresar nombre de usuario"
                    maxlength="255" required autofocus value={{user.username}} disabled>
            </div>
        </div>
        <hr>
        <div class="form-group">
            <label for="firstName">Primer nombre</label>
            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Ingresar primer nombre"
                data-toggle="tooltip" title="Ingresar primer nombre"
                maxlength="255" required disabled value={{user.first_name}}>
        </div>
        <div class="form-group">
            <label for="lastName">Apellido</label>
            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Ingresar apellido"
                data-toggle="tooltip" title="Ingresar apellido"
                maxlength="255" required disabled value={{user.last_name}}>
        </div>
        <div class="row">
            <div class="form-group col">
                <label for="rut">Rut</label>
                <input type="number" class="form-control" id="rut" name="rut" placeholder="Ingresar rut (Sin puntos ni digito verificador)"
                    data-toggle="tooltip" title="Ingresar rut (Sin puntos ni digito verificador)"
                    maxlength="8" required disabled value={{profile.rut}}>
                <small>Ingresar sin puntos ni digito verificador</small>
            </div>
            <div class="form-group col">
                <label for="dv">Digito verificador</label>
                <input type="text" class="form-control" id="dv" name="dv" placeholder="Ingresar digito verificador"
                    data-toggle="tooltip" title="Ingresar digito verificador"
                    maxlength="1" disabled value={{profile.dv}}>
            </div>
        </div>
        <div class="form-group">
            <label for="birthDate">Fecha de nacimiento</label>
            <input type="date" class="form-control" id="birthDate" name="birthDate" placeholder="Ingresar fecha de nacimiento"
                data-toggle="tooltip" title="Ingresar fecha de nacimiento"
                required disabled value={{profile.birth_date|date:"Y/m/d"}}>
        </div>
        <div class="form-group">
            <label for="email">Correo electronico</label>
            <input class="form-control" type="email" id="email" name="email" placeholder="Ingresar correo electronico"
                data-toggle="tooltip" title="Ingresar correo electronico"
                maxlength="255" required disabled value={{user.email}}>
        </div>
        <div class="form-group">
            <label for="address">Direccion</label>
            <input type="text" class="form-control" id="address" name="address" placeholder="Ingresar direccion"
                data-toggle="tooltip" title="Ingresa direccion"
                maxlength="500" required disabled value={{profile.address}}>  
        </div>
        <div class="form-group">
            <label for="phoneNumber">Numero telefonico</label>
            <input type="number" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Ingresar numero telefonico"
                data-toggle="tooltip" title="Ingresar numero telefonico"
                maxlength="10" required disabled value={{profile.phone_number}}>
        </div>
        <button type="submit" class="btn btn-primary" data-toggle="tooltip" title="Click para registrarse!" hidden>
            Registrarse!
        </button>
    </form>
{% endblock %}